.DS_store
output.log
target
*.iml
.classpath
.project
.settings
WordNet-3.0
WordNet-3.0.tar.gz
opennlp-models
apache-solr/solr-qa/data
apache-solr/solr-qa/conf/dataimport.properties
apache-solr/solr-tagging/data
apache-solr/solr-tagging/conf/dataimport.properties
apache-solr/solr-clustering/data
apache-solr/solr-clustering/conf/dataimport.properties
apache-solr/example/solr/data

